.heroline
  p
    color: #fff
    margin-bottom: 0 !important
    padding: 0 1rem

.hero-cta
  margin: 1rem

.hero .title
  margin: 1rem

// Helper Classes
.full-width-image-container
  width: 100vw
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-color: #000
  background-size: cover
  background-position: 50% 50%
  // background-blend-mode: overlay
  display: flex
  justify-content: center
  align-items: center
